@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(135deg, #0b004e, #1d152f, #002834);
}

.sg-btn{
  padding: 10px;
  border-radius: 10;
  border: black;
  background-color: white;
  font-weight: 500 ;
  font-size: 16px;
  color: black;
}
